<h1>Listing holidays</h1>

<table id="holiday_table">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Holiday type</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr>
    <td class="date"><%= holiday.date.to_formatted_s(:long) %></td>
    <td class="description"><%= holiday.description %></td>
    <td class="holiday_type"><%= holiday.holiday_type %></td>
    <td class="holiday_rate"><%= holiday.rate %></td>
    <td><%= link_to 'Show', holiday %></td>
    <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
    <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Holiday', new_holiday_path %>
