<h1>Salary Calculator</h1>

<script type="text/javascript">
$(document).ready(function() {
  var date = new Date();
  $('#simpliest-usage').multiDatesPicker({
    addDates: [<%=@default_working_days%>]
  });
});

function getSelected() {
  var dates = $('#simpliest-usage').multiDatesPicker('getDates');
  $('#selected_dates').attr('value', JSON.stringify(dates));
}

function clearAll() {
  $('#simpliest-usage').multiDatesPicker('resetDates', 'picked');

}

function selectAll() {

  clearAll();
  
  var month = $('.ui-datepicker-month').text();
  var year = $('.ui-datepicker-year').text();
  var imonth = Date.parse(month).getMonth();
  var days = Date.getDaysInMonth(year,imonth);
  
  var workingDays = [];
  for(var i=1; i< days+1; i++) {
    var d = new Date(year,imonth,i);
    if (d.isWeekday()) {
      workingDays.push(d);
    }
  }

  $('#simpliest-usage').multiDatesPicker('addDates', workingDays);
}

</script>

<%=form_tag salary_calc_path, remote: true, onsubmit: 'getSelected()' do %>
<!--
<%= label_tag :work_schedule_definition %>
<%= collection_select(:work_schedule, :definition, StaticData::WORK_SCHEDULE_DEFINITIONS, :first, :last) %>
-->

<%= label_tag :salary %>
<%= text_field_tag :salary, {}, value: 30000.00 %>


<%= hidden_field_tag :selected_dates %>
<%= hidden_field_tag :selected_year %>
<%= hidden_field_tag :selected_month %>
<div class="demo">
<div id="simpliest-usage"></div>
</div>
<a href="#" onclick="selectAll()">All Working Days</a>
<a href="#" onclick="clearAll()">Clear</a>


<%= submit_tag 'Submit', id: 'submit_button'%>
<% end %>

<div id="calc-result" style="display: none">
  <table>
    <tr>
      <th>Regular Salary</th>
      <td id="calc-result-regular-salary"></td>
    </tr>
    <tr>
      <th>Daily Rate</th>
      <td id="calc-result-daily-rate"></td>
    </tr>
    <tr>
      <th>Number of Day's Worked</th>
      <td id="calc-result-days-worked"></td>
    </tr>
    <tr>
      <th>This Month's Salary</th>
      <td id="calc-result-salary"></td>
    </tr>
    <tr>
      <th>Income Tax</th>
      <td id="calc-result-monthly-tax"></td>
    </tr>
    <tr>
      <th>Working Holiday's</th>
      <td><ul id="calc-result-holidays-worked"></ul></td>
    </tr>
    <tr>
      <th>Holiday Pay</th>
      <td id="calc-result-holiday-pay"></td>
    </tr>
  </table>

</div>