<h1>Salary Calculator</h1>

<script type="text/javascript">
$(document).ready(function() {
  var date = new Date();
  $('#simpliest-usage').multiDatesPicker({
    addDates: [<%=@default_working_days%>]
  });
});

function yyy() {
  var dates = $('#simpliest-usage').multiDatesPicker('getDates');
  $('#selected_dates').attr('value', JSON.stringify(dates));
}
  
</script>

<%=form_tag salary_calc_path, remote: true, onsubmit: 'yyy()' do %>

<%= label_tag :work_schedule_definition %>
<%= collection_select(:work_schedule, :definition, StaticData::WORK_SCHEDULE_DEFINITIONS, :first, :last) %>

<%= label_tag :salary %>
<%= text_field_tag :salary, {}, value: 30000.00 %>


<%= hidden_field_tag :selected_dates %>
<div class="demo">
<div id="simpliest-usage"></div>
</div>


<%= submit_tag 'Submit', id: 'submit_button'%>
<% end %>

<div id="calc-result" style="display: none">
  <table>
    <tr>
      <th>Regular Salary</th>
      <td id="calc-result-regular-salary"></td>
    </tr>
    <tr>
      <th>Daily Rate</th>
      <td id="calc-result-daily-rate"></td>
    </tr>
    <tr>
      <th>Number of Day's Worked</th>
      <td id="calc-result-days-worked"></td>
    </tr>
    <tr>
      <th>This Month's Salary</th>
      <td id="calc-result-salary"></td>
    </tr>
    <tr>
      <th>Working Holiday's</th>
      <td><ul id="calc-result-holidays-worked"></ul></td>
    </tr>
    <tr>
      <th>Holiday Pay</th>
      <td id="calc-result-holiday-pay"></td>
    </tr>
  </table>

</div>