
<h1>Philippine Income Tax Calculator</h1>
<span class="version">beta v1.0</span>

<div class="tax_calc_form">
  <%=form_tag tax_sv_calco_path, remote: true, onsubmit: 'loading()' do %>

<fieldset>
  
<%= label_tag 'income', 'Monthly Income'%>
<%= text_field_tag :income, {}, value: 30000.00 %>

<%= label_tag 'allowances', 'OT/Holiday/Night Diff'%>
<%= text_field_tag :allowances, {}, value: 0 %>

<%= label_tag 'deductions', 'Deductions'%>
<%= text_field_tag :deductions, {}, value: 0 %>
    
    <%= label_tag 'dependents', 'Dependents' %>
    <%= select_tag :dependents, "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option>".html_safe %>


    <%= label_tag 'month_no', 'Month Number' %>
    <%= select_month(1, {}, {id: 'month_no', name: 'month_no'}) %>

    <%= label_tag 'ytd_inc', 'Year-to-date Income' %>
    <%= text_field_tag :ytd_inc, {}, value: 0  %>

    <%= label_tag 'ytd_tax', 'Year-to-date Tax' %>
    <%= text_field_tag :ytd_tax, {}, value: 0 %>
  
    

   </fieldset>

<div class="buttons">
<%= submit_tag 'Submit', id: 'submit_button' %>
<%= button_tag 'Clear', class: 'clear_button', onClick: 'window.location.reload()' %>
</div>
   
  <% end %>
</div>

<div class="result">

  <table id="table-5">
    <tr>
      <th>Month</th>
      <th>Annual Income</th>
      <th>Personal Exemptions</th>
      <th>SSS</th>
      <th>Phil-Health</th>
      <th>Taxable Income</th>
      <th>Tax Bracket</th>
      <th>Monthly Tax</th>
    </tr>

  </table>
  <div id="loading" hidden="true">
    Calculating Tax. Please wait...
  </div>

</div>
