<h1>Listing time_entries</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Time in</th>
    <th>Time out</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= time_entry.employee_id %></td>
    <td><%= time_entry.time_in %></td>
    <td><%= time_entry.time_out %></td>
    <td><%= time_entry.hours %></td>
    <td><%= link_to 'Show', time_entry %></td>
    <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
    <td><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Time entry', new_time_entry_path %>
