<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Philippine Income Tax Calculator"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="author" content="Mr.Jacky" />
  
  <title>JPayroll (beta)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/date" %>
  <%= csrf_meta_tags %>

  <%
    @mdp = "/MultiDatePickerv1.6.1"
    @mdp_css = @mdp + "/css"
  %>
  <%= javascript_include_tag "#{@mdp}/jquery-ui.multidatespicker.js" %>
  <%= stylesheet_link_tag "#{@mdp_css}/mdp.css", "#{@mdp_css}/pepper-ginder-custom.css"%>

  <%= javascript_include_tag  "/webismymind-editablegrid-04c9013/editablegrid.js"%>
  <%= javascript_include_tag  "/webismymind-editablegrid-04c9013/editablegrid_utils.js"%>
  <%= javascript_include_tag  "/webismymind-editablegrid-04c9013/editablegrid_renderers.js"%>
  <%= javascript_include_tag  "/webismymind-editablegrid-04c9013/editablegrid_editors.js"%>
  <%= javascript_include_tag  "/webismymind-editablegrid-04c9013/editablegrid_validators.js"%>
  <%= stylesheet_link_tag "/webismymind-editablegrid-04c9013/editablegrid.css"%>

</head>
<body id="main">
  <div id="nav">
     <%= link_to "Tax Calculator", tax_path %>
     <%= link_to "Holidays", holidays_path %>
     <%= link_to "Salary Calculator", salary_path %>
     <%= link_to "Employees", employees_path %>
     <%= link_to "Time Entries", time_entries_path %>
  </div>

<%= yield %>



</body>

</html>
