<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Philippine Income Tax Calculator"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="author" content="Mr.Jacky" />
  
  <title>JPayroll (beta)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="main">
  <div id="nav">
     <%= link_to "Tax Calculator", tax_path %>
     <%= link_to "Holidays", holidays_path %>
  </div>

<%= yield %>

<div id="footer">
  <span class="version">v1.12.9.13 (alpha)</span>
</div>

</body>

</html>
